html {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    height: auto !important;
    max-height: none !important;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff !important;
    overflow: visible !important;
    height: auto !important;
    min-height: 100vh !important;
    max-height: none !important;
}

.m1-container {
    margin-top: 90px;
    height: auto !important;
    min-height: auto !important;
    max-height: none !important;
    background: #ffffff !important;
    overflow: visible !important;
    padding: 40px 20px;
}

.m-container {
    height: auto !important;
    min-height: auto !important;
    max-height: none !important;
    background: #ffffff !important;
    overflow: visible !important;
    padding: 20px;
}


.box-1 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    background-color: transparent;
    font-size: 50px;
    color: #1a4d2e;
}

.con-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.box-2 .b-p p {
    color: black;
    font-size: 21.5px;
}

.box-2 {
    width: 1220px;
    height: auto;
    min-height: auto;
}

/* Fix all image containers - remove fixed heights */
div[class*="img-"] {
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
}

/* Professional image styling */
img {
    width: 100%;
    height: auto !important;
    max-height: none !important;
    object-fit: contain !important;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

/* Content boxes professional styling */
.box-2,
.content-box {
    background: #ffffff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    margin: 30px auto;
    max-width: 1200px;
}

.box-2 .content {
    height: max-content;
    width: 600px;
}

.p-c-i .content h1 {
    font-size: 50px;
    gap: 0px;
    color: #1a4d2e !important;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.content p {
    width: 600px;
    font-size: 18px;
    color: #2c3e50;
    line-height: 1.8;
}

.box-2 .img-0 {
    height: 300px;
    width: 400px;
    margin-right: 100px;
}

.p-c-i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
}

.img-0 img {
    border-radius: 25px;
    height: 850px;
    width: auto;
    object-fit: cover;
    margin-bottom: 70px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    /* Added shadow for professionalism */
}

.p-c-i h1 {
    font-size: 3.5rem !important;
    line-height: 1.2;
    margin-bottom: 30px;
}

.p-c-i p {
    font-size: 1.3rem !important;
    line-height: 2 !important;
    color: #444;
}

.s-c-i {
    display: flex;
    justify-content: space-evenly;
}

.content-1 {
    height: max-content;
    margin-left: 100px;
}

.content-1 h1 {
    font-size: 50px;
    margin-block-start: 0;
}

.content-1 p {
    font-size: 18px;
    letter-spacing: 1px;
}

.img-1 {
    height: 300px;
    width: 450px;
    margin-left: 40px;
    margin-top: 50px;
}

.img-1 img {
    border-radius: 25px;
    height: 300px;
}

.t-c-i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2 {
    height: max-content;
}

.img-2 {
    height: max-content;
}

.t-c-i h2 {
    font-size: 50px;
}

/* -------------------------------------- */

.f-c-i {
    display: flex;
    justify-content: space-around;
    padding-bottom: 150px;
}

.f-c-i .img-2 {
    height: 300px;
    width: 500px;
}

.img-2 img {
    border-radius: 25px;
    height: 450px;
}

.content-2 {
    width: 450px;
    margin-left: 250px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.content-2 p {
    font-size: 20px;

}

/* ------------------------------------------------------------------ */
.fi-c-i {
    height: auto;
    /* Changed from 500px to auto */
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 50px;
    /* Added */
}

.content-4 {
    height: auto;
    /* Changed from 40px to auto */
    min-height: auto;
}

.content-4 span {
    font-size: 19px;
}

.content-4 p {
    font-size: 25px;
    gap: 20px;
    margin-bottom: 6px;
}

.img-3 {
    height: auto;
    /* Changed from 40px to auto */
    min-height: auto;
}

.img-3 img {
    border-radius: 25px;
    height: 450px;
}

/* ------------------------------------------------------ */
.si-c-i {
    height: auto;
    min-height: 400px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;

}

.si-c-i-h {
    margin-top: 25px;
    height: auto;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.si-c-i-h h1 {
    font-size: 55px;
}

.si-c-i .content-5 {
    font-size: 20px;
    height: auto;
    min-height: auto;
    margin-top: 25px;
    letter-spacing: 2px;
}

.content-5 strong {
    font-size: 40px;
}

.si-c-i .img-4 {
    height: 300px;
}

.img-4 img {
    border-radius: 25px;
    height: 300px;
}

.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 50px;
    margin-top: 30px;
    margin-right: 150px;

}

.button-1 #btn {
    height: 78px;
    width: 420px;
    border-radius: 38px;
    background-color: blue;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-1 :hover {
    background-color: rgb(109, 53, 13);
    cursor: pointer;
}


/* ------------------------------------------------------ */
.se-c-i {
    position: relative;
}

.img-se {
    position: relative;
    width: 100%;
    height: 950px;
}

.img-se img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dark-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.se-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    max-width: 900px;
    padding: 0 20px;
}

.se-content h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.se-content p {
    font-size: 20px;
    line-height: 1.6;
    /* background-color: pink; */
    background: transparent;
    background: rgba(0, 0, 0, 0.25);
}

/* ---------------------------------------- */
.e-c-i {
    position: relative;
}

.img-e {
    position: relative;
    width: 100%;
    height: 700px;
}

.img-e img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dark overlay */
.dark-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}


.e-content {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    max-width: 800px;
    padding: 0 20px;
}

.e-content h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.e-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.e-content button {
    padding: 18px 32px;
    font-size: 16px;
    border-radius: 32px;
    border: none;
    background: rgb(121, 175, 152);
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

.e-content button:hover {
    background: #e6e6e6;
}


.text-block {
    margin-bottom: 25px;
    line-height: 1.5;
}

.text-block p {
    margin: 0 0 8px 0;
    font-size: 25px;
}

.text-block span {
    font-size: 19px;
    display: block;
}




.m1-container {
    height: auto;
    min-height: 3500px;
}

.m-container {
    height: auto;
    min-height: 2120px;
}

.box-2 {
    width: 90%;
    max-width: 1220px;
    height: auto;
    margin: 0 auto;
}


.heading {
    font-size: clamp(28px, 5vw, 50px);
    padding: 10px 20px;
    text-align: center;
}

.box-2 .b-p p {
    font-size: clamp(16px, 2vw, 21.5px);
    padding: 0 10px;
}


@media screen and (max-width: 1024px) {
    .p-c-i {
        flex-direction: column;
        text-align: center;
    }

    .p-c-i .content {
        width: 100%;
        max-width: 600px;
        margin-bottom: 30px;
    }

    .p-c-i .content h1 {
        font-size: 42px;
    }

    .content p,
    .content-1 p {
        width: 100%;
        max-width: 600px;
        font-size: 17px;
    }

    .box-2 .img-0 {
        margin-right: 0;
        width: 100%;
        max-width: 400px;
    }

    .img-0 img {
        height: auto;
        max-height: 300px;
        width: 100%;
    }

    .s-c-i {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .content-1 {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
        max-width: 600px;
    }

    .img-1 {
        width: 100%;
        max-width: 450px;
        margin-left: 0;
    }

    .img-1 img {
        height: auto;
        max-height: 300px;
        width: 100%;
    }

    .f-c-i {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
    }

    .content-2 {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
        max-width: 450px;
    }

    .f-c-i .img-2 {
        width: 100%;
        max-width: 500px;
    }

    .img-2 img {
        height: auto;
        max-height: 450px;
        width: 100%;
    }

    .fi-c-i {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 30px 0;
    }

    .content-4 {
        width: 100%;
        max-width: 600px;
        margin-bottom: 30px;
        height: auto;
    }

    .img-3 img {
        height: auto;
        max-height: 400px;
        width: 100%;
    }

    .si-c-i {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 30px 0;
        padding-bottom: 60px;
    }

    .si-c-i .content-5 {
        width: 100%;
        max-width: 600px;
        margin-bottom: 30px;
        height: auto;
    }

    .img-4 img {
        height: auto;
        max-height: 300px;
        width: 100%;
    }

    .si-c-i-h h1 {
        font-size: 42px;
        text-align: center;
        padding: 0 15px;
    }

    .button-1 {
        margin-right: 0;
        justify-content: center;
        margin-top: 40px;
    }

    .button-1 #btn {
        width: 90%;
        max-width: 420px;
        height: 60px;
        font-size: 18px;
    }
}


@media screen and (max-width: 767px) {
    .heading {
        font-size: 24px;
        padding: 15px;
    }

    .box-2 .b-p p {
        font-size: 16px;
        padding: 0 15px;
    }

    .p-c-i .content h1,
    .content-1 h1,
    .t-c-i h2,
    .si-c-i-h h1 {
        font-size: 32px;
        line-height: 1.3;
        padding: 0 15px;
    }

    .content p,
    .content-1 p {
        font-size: 16px;
        padding: 0 15px;
        line-height: 1.6;
    }

    .img-0,
    .img-1,
    .img-2,
    .img-3,
    .img-4 {
        width: 90%;
        margin: 0 auto;
    }

    .img-0 img,
    .img-1 img,
    .img-2 img,
    .img-3 img,
    .img-4 img {
        width: 100%;
        height: auto;
        max-height: 250px;
    }

    /* FIX FOR FI-C-I SECTION */
    .fi-c-i {
        flex-direction: column;
        height: auto;
        margin-top: 20px;
        padding: 20px 15px;
    }

    .content-4 {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        order: 1;
    }

    .text-block {
        margin-bottom: 20px;
        padding: 0 10px;
    }

    .text-block p {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .text-block span {
        font-size: 16px;
        line-height: 1.5;
    }

    .img-3 {
        order: 2;
        margin-top: 20px;
        width: 100%;
    }

    .img-3 img {
        height: auto;
        max-height: 350px;
        width: 100%;
        display: block;
    }


    .si-c-i {
        height: auto;
        flex-direction: column;
        padding: 20px 15px;
        position: relative;
    }

    .si-c-i-h h1 {
        font-size: 28px;
        padding: 0 15px;
        text-align: center;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .si-c-i .content-5 {
        font-size: 16px;
        height: auto;
        margin-top: 0;
        letter-spacing: normal;
        padding: 0 10px;
        text-align: center;
        order: 1;
        width: 100%;
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
    }

    .content-5 strong {
        font-size: 20px;
        line-height: 1.4;
        display: block;
        margin: 20px 0 10px 0;
    }

    .content-5 .text-block {
        margin-bottom: 15px;
        text-align: center;
        padding: 0;
    }

    .img-4 {
        order: 2;
        width: 100%;
        height: auto;
        margin-top: 20px;
        position: relative;
        z-index: 1;
    }

    .img-4 img {
        height: auto;
        max-height: 250px;
        width: 100%;
        margin-top: 20px;
        display: block;
    }

    .button-1 {
        margin-right: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        order: 1;
        width: 100%;
    }

    .button-1 #btn {
        width: 280px;
        height: 50px;
        font-size: 16px;
        border-radius: 25px;
        margin: 0 auto;
        display: block;
    }


    .se-content {
        top: 10%;
        padding: 0 15px;
        width: 90%;
    }

    .se-content h1 {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 15px;
    }

    .se-content p {
        font-size: 16px;
        line-height: 1.5;
        padding: 15px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .img-se {
        height: 600px;
    }


    .e-content {
        top: 30%;
        padding: 0 15px;
        width: 90%;
    }

    .e-content h1 {
        font-size: 28px;
        line-height: 1.3;
        margin-bottom: 15px;
    }

    .e-content p {
        font-size: 16px;
        line-height: 1.5;
        padding: 15px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .e-content button {
        padding: 15px 25px;
        font-size: 16px;
    }

    .img-e {
        height: 500px;
    }
}


@media screen and (max-width: 480px) {
    .heading {
        font-size: 20px;
    }

    .p-c-i .content h1,
    .content-1 h1,
    .t-c-i h2,
    .si-c-i-h h1 {
        font-size: 24px;
    }

    .text-block p {
        font-size: 18px;
    }

    .text-block span {
        font-size: 15px;
    }

    .content-5 strong {
        font-size: 18px;
    }

    .se-content h1 {
        font-size: 22px;
    }

    .se-content p {
        font-size: 15px;
    }

    .e-content h1 {
        font-size: 22px;
    }

    .e-content p {
        font-size: 15px;
    }

    .img-se {
        height: 500px;
    }

    .img-e {
        height: 450px;
    }

    .button-1 #btn {
        width: 250px;
        height: 45px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .e-content button {
        padding: 12px 20px;
        font-size: 15px;
    }
}


@media screen and (min-width: 1200px) {
    .box-2 {
        width: 1220px;
    }


    .si-c-i {
        height: auto;
        min-height: 400px;
        padding-bottom: 100px;
    }

    .button-1 {
        margin-top: 40px;
    }
}


.se-content p,
.e-content p,
.text-block,
.content-5 {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: none;
}


h1,
h2,
h3,
.heading,
.si-c-i-h h1 {
    hyphens: none;
}